body, html {
    background: linear-gradient(90deg, rgba(86,189,160,1) 0%, rgba(92,219,149,1) 45%, rgba(86,189,160,1) 100%);
    height: 100%;
    width: 100%;
}


h2{
    text-align: center;
}

h4{
    font-size: 20px;
    text-align: left;
    margin: 0 10px;
}
.Main{
    background: linear-gradient(90deg, rgba(86,189,160,1) 0%, rgba(92,219,149,1) 45%, rgba(86,189,160,1) 100%);
    min-height: calc(100vh - 80px);
    min-width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-top: 2vh;
}
.EditMain{
    background: linear-gradient(90deg, rgba(86,189,160,1) 0%, rgba(92,219,149,1) 45%, rgba(86,189,160,1) 100%);
    min-height: calc(100vh - 80px);
    min-width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.flex-container-friendrequests {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    max-height: 90vh;
    list-style: none;
}

.flex-container-friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.flex-container-community {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    max-height: 90vh;
    list-style: none;
}

.flex-item-community-list {
    width: 90vmin;
    height: 20vmin;
    margin: 10px;
    background-color: rgb(138, 232, 160);
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.flex-item-community-image {
    float: left;
    width: 20vmin;
    height: 20vmin;
    margin: auto;
}

/*USER DETAILS */
#user-datails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 90vh;
    min-width: 100vw;

}
#user-details {
    list-style-type: none;
    width: 80vmin;
    height: 40vmin;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    margin: 0 auto auto auto;
}

h3{
    font-size: 25px;
    margin-left: 50px;
}

#user-details li h4 {
    font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
    margin: auto;
}
#user-details li h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: auto;
}

#user-details img {
    float: left;
    height: 36vmin;
    width: 36vmin;
    margin: 1vh/1vw;
}

#user-details li p {
    text-align: left;
    font: 12px/1.5 Georgia;
}

#user-details li {
    padding: 10px;
    overflow: auto;
}

#user-details input {
    display: block;

}
/*=============================*/
.item-container{
    border-width: 1px;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 80vmin;
    height: 80vmin;
}
.form{ 
    justify-content: center;
    padding: 0 0 0 0;
    margin: auto;
    font-size: 1em;
    width: 50vmin;
}
.form label {
    text-align: left;
    font-size: 15px;
    width: 40vmin;
}
.form input{
    font-size: 15px;
    height: 2.5vmin;
    width: 60vmin;
    height: 5vmin;
}
.form img {
    margin: 0 10vmin;
    height: 30vmin;
    width: 30vmin;
}
#nametext {
    width: 36vmin;
}

.container img {
    width: 36vmin;
    height: 36vmin;
    margin: auto;
}
/*=============================*/

@media only screen and (min-width: 768px) {
    .flex-item-community-list {
        width: 17vmin;
        height: 23vmin;
    }
    
    h4 {
        font-size: 11px;
    }

    .flex-item-community-image {
        display: block;
        float: none;
        width: 15vmin;
        height: 15vmin;
        border-width: 1px;
        border-radius: 4px;
    }

    #user-details li h3 {
        font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        margin: auto;
    }

    #user-details li h4 {
        font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        margin: auto;
    }
    .form{ 
        justify-content: center;
        padding: 0 0 0 0;
        margin: auto;
        font-size: 1em;
        width: 50vmin;
    }
    .form label {
        text-align: left;
        font-size: 15px;
        width: 40vmin;
    }
    .form input{
        font-size: 15px;
        height: 2.5vmin;
        width: 50vmin;
    }

}

@media only screen and (min-width: 1200px) {
    .flex-item-community-list {
        width: 20vmin;
        height: 26vmin;
    }
    
    h4 {
        font-size: 14px;
    }

    .flex-item-community-image {
        display: block;
        float: none;
        width: 18vmin;
        height: 18vmin;
        border-width: 1px;
        border-radius: 4px;

    }
}


